.header	{
	width: 100%;
	height: 82px;
	background-color: black;
	margin: 0;
	position: sticky;
	top: 0;
	/*overflow-x: hidden;*/
}

.heading {
    color: 
}

h2 {
    font-size: 48px !important;
    font-weight: 700 !important;
}

.section-content {
    font-family: 'Abril Fatface';
    font-weight: 700;
    margin-top: 6%;
}

.content {
    margin-top: 2%;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 2%;
}